{
    "printWidth": 80,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "singleAttributePerLine": false
}
